In [1]:
import pandas as pd

In [109]:
df = pd.read_csv('bots.csv',header=None, names = ['avg_reply_time',
                                                 'total_comments',
                                                 'total_unique_subreddits',
                                                 'total_unique_submissions',
                                                 'avg_comment_length',
                                                 'levenshtein_ratio',
                                                 'ratcliff_ratio',
                                                 'author'
                                                ])

In [110]:
df.describe()

,avg_reply_time,total_comments,total_unique_subreddits,total_unique_submissions,avg_comment_length,levenshtein_ratio,ratcliff_ratio
count,7.498080e+05,7.498080e+05,749808.000000,749808.000000,749808.000000,749808.000000,749808.000000
mean,1.884069e+04,5.777784e+01,8.280037,27.940490,170.337972,0.298562,0.175077
std,2.488662e+04,3.688433e+03,31.359010,893.645563,138.318041,0.054770,0.063884
min,2.900000e-01,1.100000e+01,1.000000,1.000000,0.000000,0.000000,0.000000
25%,7.451567e+03,1.600000e+01,3.000000,9.000000,88.000000,0.270000,0.140000
50%,1.304323e+04,2.600000e+01,6.000000,15.000000,135.740000,0.300000,0.170000
75%,2.162980e+04,5.300000e+01,10.000000,29.000000,210.150000,0.320000,0.200000
max,1.828652e+06,3.189533e+06,20317.000000,769564.000000,7296.030000,1.000000,1.000000

In [111]:
# simple string match to see if username has 'bot'
def has_bot(row):
    user = row[7]
    return 'bot' in user

In [114]:
# filter based on levenshtein/ratcliff ratios
def filter_ratio(row):
    return row['levenshtein_ratio'] > 0.95 or row['ratcliff_ratio'] > 0.95

In [115]:
df['has_bot'] = df.apply(func=has_bot, axis = 1)
df['high_ratio'] = df.apply(filter_ratio, axis = 1)
df.head()

,avg_reply_time,total_comments,total_unique_subreddits,total_unique_submissions,avg_comment_length,levenshtein_ratio,ratcliff_ratio,author,has_bot,high_ratio
0,0.29,879,1,855,56.00,1.00,1.00,bluelevelupr,False,True
1,0.77,2693,1,2686,915.70,0.58,0.45,transcribot,True,False
2,0.80,15,4,11,5527.00,0.47,0.25,sufficiency_bot,True,False
3,1.23,3227,1,47,377.78,0.57,0.42,Concise_AMA_Bot,False,False
4,1.38,47,4,24,5196.94,0.38,0.14,d3posterbot,True,False

In [116]:
data = df
bots = data[data['has_bot']]
bots.head()

,avg_reply_time,total_comments,total_unique_subreddits,total_unique_submissions,avg_comment_length,levenshtein_ratio,ratcliff_ratio,author,has_bot,high_ratio
1,0.77,2693,1,2686,915.70,0.58,0.45,transcribot,True,False
2,0.80,15,4,11,5527.00,0.47,0.25,sufficiency_bot,True,False
4,1.38,47,4,24,5196.94,0.38,0.14,d3posterbot,True,False
6,2.46,13,8,13,43.00,1.00,1.00,dont_hurt_me_bot,True,True
13,3.87,113,102,109,81.65,0.88,0.88,mortalitybot,True,False

In [117]:
bots.describe()

,avg_reply_time,total_comments,total_unique_subreddits,total_unique_submissions,avg_comment_length,levenshtein_ratio,ratcliff_ratio
count,1.818000e+03,1818.000000,1818.000000,1818.000000,1818.000000,1818.000000,1818.000000
mean,1.976600e+04,151.074807,32.001650,100.806931,197.642833,0.341062,0.222376
std,3.605361e+04,1145.672600,270.201601,934.525439,284.636342,0.159854,0.185074
min,7.700000e-01,11.000000,1.000000,1.000000,1.000000,0.050000,0.020000
25%,7.192338e+03,16.000000,3.000000,10.000000,90.585000,0.270000,0.140000
50%,1.290566e+04,30.000000,6.000000,17.000000,138.340000,0.300000,0.180000
75%,2.231726e+04,67.000000,12.000000,35.750000,221.647500,0.330000,0.210000
max,1.063925e+06,28367.000000,5427.000000,20647.000000,5527.000000,1.000000,1.000000

In [118]:
data = df
non_bots = data.drop(bots.index)
non_bots.head()

,avg_reply_time,total_comments,total_unique_subreddits,total_unique_submissions,avg_comment_length,levenshtein_ratio,ratcliff_ratio,author,has_bot,high_ratio
0,0.29,879,1,855,56.00,1.00,1.00,bluelevelupr,False,True
3,1.23,3227,1,47,377.78,0.57,0.42,Concise_AMA_Bot,False,False
5,2.36,107,1,80,5071.89,0.29,0.03,nudelete,False,False
7,2.49,73,1,50,5799.18,0.29,0.04,sports_undelete,False,False
8,2.54,253,1,166,5734.64,0.30,0.02,underpopular,False,False

In [119]:
non_bots.describe()

,avg_reply_time,total_comments,total_unique_subreddits,total_unique_submissions,avg_comment_length,levenshtein_ratio,ratcliff_ratio
count,7.479900e+05,7.479900e+05,747990.000000,747990.000000,747990.000000,747990.000000,747990.000000
mean,1.883844e+04,5.755108e+01,8.222381,27.763387,170.271607,0.298459,0.174962
std,2.485336e+04,3.692478e+03,28.408711,893.537340,137.767041,0.054227,0.063265
min,2.900000e-01,1.100000e+01,1.000000,1.000000,0.000000,0.000000,0.000000
25%,7.452075e+03,1.600000e+01,3.000000,9.000000,88.000000,0.270000,0.140000
50%,1.304347e+04,2.600000e+01,6.000000,15.000000,135.730000,0.300000,0.170000
75%,2.162865e+04,5.300000e+01,10.000000,29.000000,210.120000,0.320000,0.200000
max,1.828652e+06,3.189533e+06,20317.000000,769564.000000,7296.030000,1.000000,1.000000

In [120]:
bots.to_csv('has_bot.csv', index = False)

In [121]:
non_bots.to_csv('non_bots.csv',index = False)

In [122]:
!pip install beautifulsoup4 --user

Looking in indexes: https://pypi.org/simple, https://packagecloud.io/github/git-lfs/pypi/simple
Collecting beautifulsoup4
  Downloading https://files.pythonhosted.org/packages/1d/5d/3260694a59df0ec52f8b4883f5d23b130bc237602a1411fa670eae12351e/beautifulsoup4-4.7.1-py3-none-any.whl (94kB)
    100% |████████████████████████████████| 102kB 1.7MB/s a 0:00:01
Collecting soupsieve>=1.2 (from beautifulsoup4)
  Downloading https://files.pythonhosted.org/packages/bf/b3/2473abf05c4950c6a829ed5dcbc40d8b56d4351d15d6939c8ffb7c6b1a14/soupsieve-1.7.3-py2.py3-none-any.whl
Installing collected packages: soupsieve, beautifulsoup4
Successfully installed beautifulsoup4-4.7.1 soupsieve-1.7.3

In [125]:
from bs4 import BeautifulSoup
import requests

In [183]:
def scraper():
    count = 0
    URL = 'https://botrank.pastimes.eu/?page='
    headers = requests.utils.default_headers()
    headers.update({
        'User-Agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:52.0) Gecko/20100101 Firefox/52.0',
    })
    data = []
    for i in range(33):
        URL = 'https://botrank.pastimes.eu/?page='
        URL = URL + str(i+1)
        response = requests.get(URL, headers=headers,verify=False)
        soup = BeautifulSoup(response.text)
        table = soup.find('table', attrs={'class':'table'})
        table_body = table.find('tbody')

        rows = table_body.find_all('tr')
        for row in rows:
            cols = row.find_all('td')
            cols = [ele.text.strip() for ele in cols]
            data.append([ele for ele in cols if ele]) 
            if not count % 100:
                print(count)
            count+=1
            
    return data

In [ ]:
dd = scraper()

In [203]:
dd = pd.DataFrame(dd, 
                  columns = ['rank','user','score','good bot votes',
                           'bad bot votes','comment karma','link karma']).dropna(how='all')
dd.head()

,rank,user,score,good bot votes,bad bot votes,comment karma,link karma
1,1,GifReversingBot,0.9869,668,3,"92,144",72
2,2,stabbot,0.9762,"2,713",50,"226,794",145
3,3,Roboragi,0.973,"1,205",22,"419,691",878
4,4,MILBitchBot,0.9717,252,2,0,0
5,5,MTGLardFetcher,0.9713,398,5,"8,778",5